header > h1{
  background-color:rgba(201, 243, 208, 0.921);
  padding-top: 1%;
  height: 50px;
  text-align: center;
  text-align-last: left;
  font-weight: bold;
  font-family: "Audiowide", sans-serif;
}
#logo-sfond{
  float: inline-start;
}
.connexion{
  margin-right: 25px;
}



.connexion li {
  float: inline-end;
  display: inline-block;
  font-size: 20px;
  margin-top: 10px;


}
body {
  position: relative;
  height: 100%;
  background: rgb(201,243,208);
  background: linear-gradient(180deg, rgba(201,243,208,1) 0%, rgba(250,235,215,1) 50%, rgba(201,243,208,1) 100%);
}



#main-grid{
  
  width: 100%;
  text-align: center;
  font-family: "Audiowide", sans-serif;


}
.profile-slide > img {
  width: 500px;
  height: auto;
}
.texteb{

}

footer{
  position: relative;
  background-color:rgb(212, 243, 217);
  opacity: 90%;

}
footer li{

  list-style-type: none;
  padding:10px;
  
} 
footer p{

}

