/* palette de couleur  https://coolors.co/ec0b43-58355e-7ae7c7-d6ffb7-fff689 */

header > h1{
  background-color:rgb(214, 255, 183);
  padding-top: 1%;
  height: 50px;
  text-align: center;
  text-align-last: left;
  font-weight: bold;
  font-family: "Audiowide", sans-serif;
}
#logo-sfond{
  float: inline-start;
}
.connexion{
  margin-right: 30px;
  margin-top: 30px;
  float: inline-end;
  display: inline-end;
  font-size: 20px;
}

body {
  position: relative;
  height: 100%;
  background: linear-gradient(180deg, rgb(214, 255, 183) 0%, rgb(255, 246, 137) 50%, rgb(214, 255, 183) 100%);
}

/*   */

#main-grid{
  
  width: 100%;
  text-align: center;
  font-family: "Audiowide", sans-serif;


}
.profile-slide > img {
  width: 500px;
  height: auto;
  box-shadow: 0 20px 20px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transition: width 1s, height 1s, transform 1s, box-shadow 1s;
}


.profile-slide > img:hover {
  width: 520px;
  box-shadow: 0 80px 80px 0 rgba(0,0,0,0.24), 0 70px 200px 0 rgba(0,0,0,0.19);
}

footer{
  position: relative;
  background-color:rgb(214, 255, 183);
  opacity: 90%;
  margin-top: 100px;

}
footer li{
  list-style-type: none;
  width: 40px;
  float: left;
  margin-top: 20px
} 
footer p{
  columns: 3;
}
.form-container {
  background: rgb(255, 245, 130);
  border-radius: 50px; 
  box-shadow: 6px 6px 6px 6px #58355e39;
  padding: 3em;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  
}
label {
  display: block; 
  margin-bottom: 10px; 
  height: inherit;
  
}
h1{
  color: rgb(0, 0, 0);
  display: felex;
  font-family: "Audiowide", sans-serif;
}
a{
  display: flex;
  text-decoration: none;
  color: darkgray;
  
}

input[type="text"],[type="password"], input[type="button"] {
  border-radius: 5px;
  background-color: rgb(122, 231, 199);
  width: 300px; 
  padding: 5px; 
  margin-bottom: 10px; 
  
}
.entrer{
  
  box-shadow: 6px 5px #58355e39;
}

input[type="submit"] {
  background-color: rgb(122, 231, 199); 
  border: none; 
  padding: 15px 40px; 
  cursor: none; 
}

.bouton:hover{
  box-shadow: 0 6px 6px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
