* {
  font-family: "PT Serif";
}

h1 {
  font-family: "Ultra";
}

header > h1 {
  padding-top: 1%;
  height: 50px;
  text-align: center;
  text-align-last: left;
  font-family: "Ultra";
}
#logo-sfond {
  float: inline-start;
}

.dropdown {
  margin-right: 30px;
  margin-top: 30px;
  float: inline-end;
  display: inline-end;
  font-size: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
body {
  position: relative;
  height: 100%;
  background: rgb(225, 204, 204);
}

.titlepl {
  text-align: center;
}

.titlepl > p {
  font-size: 15px;
  margin-top: -20px;
  margin-bottom: 45px;
}

.card-container {
  background-color: #231e39;
  border-radius: 5px;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  color: #b3b8cd;
  padding-top: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 350px;
  max-width: 100%;
  text-align: center;
  height: 400px;
}


.card-container .pro {
  color: #231e39;
  background-color: #febb0b;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  padding: 3px 7px;
  position: absolute;
  top: 30px;
  left: 30px;
}


.card-container .round {
  border: 1px solid #03bfcb;
  border-radius: 50%;
  padding: 7px;
}
.round {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.playlist-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
}

.playlist_aff {
  background-color: black;
  text-align: center;
  color: aliceblue;
  border-radius: 5%;
}

.playlist_aff > button {
  margin-bottom: 15px;
  border-radius: 50px;
  padding: 5px 15px;
  border: none;
  font-size: 16px;
}

.playlist_aff> img {
  margin-top: 20px;
  width: 180px;
  height: 180px;
  border-radius: 5%;
  box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 1),
    25px 0px 20px -20px rgba(0, 0, 0, 0.45),
    0px 25px 20px -20px rgba(0, 0, 0, 0.45),
    -25px 0px 20px -20px rgba(0, 0, 0, 0.45);
}

.musique-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}


